.card {
    width: 280px;
    min-height: 262px;
    float: left;
    margin-right: 25px;
    margin-bottom: 25px;
    border-radius: 4px;
    background: #fff;
    -webkit-box-shadow: 10px 10px 19px -17px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 19px -17px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 19px -17px rgba(0,0,0,0.75);}

.cardImg {
    width: inherit;
    height: 120px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.countryName {
    padding: 25px 10px;
    font-size: 1.1em;
}

.details {
    padding: 15px;
}

.details > div {
    font-size: 0.8em;
}